{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="mt-4 ml-4 mr-4">
        <div class="row border-bottom border-3">
            <div class="col"><h3 class="color-header text-uppercase">Szczegóły oferty: </h3></div>
            <div class="col d-flex justify-content-end mb-2"><a href= "{% url 'offer-list' %}"
                    class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a></div>
        </div>
        <div class="row border-bottom border-2">
            <div class="col"><h4 class="color-header text-uppercase">{{oferta.procedure}} </h4></div>
            </div>
        <table class="table borderless">
            <tbody>
            <tr class="d-flex">
                <th scope="row" class="col-5">Data złożenia: </th>
                <td class="col-3"> {{ oferta.submission }} </td>

            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Firma: </th>
                <td class="col-3"> {{ oferta.company_name }} </td>
                <th scope="row" class="col-2">Adres: </th>
                <td class="col-5"> {{ oferta.company_address }}</td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Cena: </th>
                <td class="col-3"> {{ oferta.price }} </td>
                <th scope="row" class="col-2">Realizacja: </th>
                <td class="col-5"> {{ oferta.lead_time }} dni</td>
            </tr>
        </table>
        <br>

        <div class="row d-flex">
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Skład Komisji</h3></div>
            <div class="col-2"></div>
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Oceny</h3></div>
        </div>
        <div class="row d-flex">
            <ul class="col-5 p-4 list-unstyled">
                <li>{{ oferta.updated }}</li>
            </ul>
            <div class="col-2"></div>
            <ul class="col-5 p-4 list-unstyled">
                <li>{{ oferta.votes }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
