{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">LISTA POSTĘPOWAŃ</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <a href="{% url 'add-procedure' %}"
               class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj
                postępowanie</a>
        </div>
    </div>

    <div class="schedules-content">
        <table class="table border-bottom">
            <thead>
            <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col-2">NUMER</th>
                <th class="col-7">TYTUŁ</th>
                <th class="col-2 center">AKCJE</th>
            </tr>
            </thead>
            <tbody class="text-color-lighter">
            {% for procedure in procedures %}
            <tr class="d-flex">
                <td class="col-1">{{ forloop.counter0|add:procedures.start_index}}</td>
                <td class="col-2">{{ procedure.numer }}</td>
                <td class="col-7">
                    <a href="{% url 'procedure-detail' procedure.id %}">{{ procedure.title }}</a>
                </td>
                <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                    <a href="" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                    <a href="{% url 'procedure-detail' procedure.id %}"
                       class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                    <a href=""
                       class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                </td>
            </tr>
              {% empty %}
                Nie ma aktualnych postępowań.
              {% endfor %}
            </tbody>
        </table>
        <div class="pagination center" >
        <span class="step-links">
        {% if procedures.has_previous %}
            <a href="?page={{ procedures.previous_page_number }}">&laquo; poprzednia| </a>
        {% endif %}
        {% for page in procedures.paginator.page_range %}
            {% if page != 1 %}
            <a href="?page={{ page }}">| {{ page }}</a>
            {% else %}
            <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if procedures.has_next %}
        <a href="?page={{ procedures.next_page_number }}">| następna &raquo;</a>
        {% endif %}
        </span>
        </div>
    </div>
</div>
{% endblock content %}