{% extends "__base__.html" %}
{% load humanize %}
{% block title %}{% endblock title %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">SZCZEGÓŁY POSTĘPOWANIA</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <a href="{% url 'procedure-list' %}"
               class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
        </div>
    </div>

    <div class="schedules-content">
        <div class="schedules-content-header">
            <div class="form-group row">
                <span class="col-sm-2 label-size col-form-label"> Numer </span>
                <div class="col-sm-10"> <p class="schedules-text" > <FONT SIZE=5>{{ procedure.numer }} </FONT></p> </div>
            </div>
            <div class="form-group row"> <span class="col-sm-2 label-size col-form-label"> Tytuł </span>
                <div class="col-sm-10"> <p class="schedules-text">  <FONT SIZE=5>{{ procedure.title }} </FONT></p> </div>
            </div>
     </div>
        <table class="table borderless">

        <thead>
            <tr class="d-flex center">
                <th scope="row" class="col-4">Ogłoszenie: </th>
                <th scope="row" class="col-4">Otwarcie: </th>
                <th scope="row" class="col-4">Status: </th>

            </tr>
        </thead>

        <tbody class="text-color-lighter">
            <tr class="d-flex center">
                <td class="col-4"> {{ procedure.publish }} </td>
                <td class="col-4"> {{ procedure.open }}</td>
                <td class="col-4"> {{ procedure.status }}</td>
            </tr>
        </tbody>
        </table>

        <div class="row d-flex">
            <div class="col-4 border-bottom border-3"><h3
                    class="text-uppercase">Skład Komisji</h3></div>
            <div class="col-1"></div>
            <div class="col-7 border-bottom border-3"><h3
                    class="text-uppercase">Oferty</h3></div>
        </div>
        <div class="row d-flex">
            <ul class="col-4 p-4 list-unstyled">
                {% for empl in empl_list %}
                <li>{{ empl }}</li>
                {% endfor %}
            </ul>
            <div class="col-1"></div>
            <ul class="col-7 p-4 list-unstyled">
                {% for object in offerts_list %}
                <li>{{ object.submission }} - <a href="{% url 'offer-detail' object.id %}">
                    {{ object.company_name }}</a>   cena: {{ object.price|intcomma }}    czas: {{ object.lead_time }} dni</li>
                {% endfor %}
            </ul>
        </div>

{% endblock content %}